# Same sa password as ms-iam-db
MSSQL_SA_PASSWORD=change-me
# Runtime user for consumption-service
CONSUMPTION_APP_PASSWORD=change-me
# Liquibase migration user
CONSUMPTION_MIGRATOR_PASSWORD=change-me
